$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #dadada
$body-bg-color: #3d3c3d
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radios: 10px
$card-border-radios: 5px
$gradient: linear-gradient(90deg, #c1c5c7 0%, #a4aeb4 100%)
$button-background: #eb8612
